## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,26.26,74,0,5.75,clear sky
1,1,Namatanai,PG,-3.6667,152.4333,82.71,75,95,11.43,moderate rain
2,2,Saskylakh,RU,71.9167,114.0833,61.50,41,89,10.42,overcast clouds
3,3,Khatanga,RU,71.9667,102.5000,43.23,88,100,14.05,moderate rain
4,4,Tisovec,SK,48.6774,19.9436,49.87,86,20,4.88,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Prompt user to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Namatanai,PG,-3.6667,152.4333,82.71,75,95,11.43,moderate rain
7,7,Cabo San Lucas,MX,22.8909,-109.9124,80.26,53,9,11.16,clear sky
8,8,Iracoubo,GF,5.4802,-53.2011,77.20,80,95,8.66,overcast clouds
12,12,Puerto Ayora,EC,-0.7393,-90.3518,69.55,93,57,10.63,broken clouds
13,13,Rikitea,PF,-23.1203,-134.9692,74.39,75,21,18.01,few clouds
14,14,Avarua,CK,-21.2078,-159.7750,75.25,57,46,5.75,scattered clouds
16,16,Ottawa,CA,45.4112,-75.6981,68.43,57,20,6.91,few clouds
17,17,Surt,LY,31.2089,16.5887,79.32,83,0,6.29,clear sky
18,18,Neiafu,TO,-18.6500,-173.9833,79.48,69,40,10.36,scattered clouds
20,20,Atuona,PF,-9.8000,-139.0333,77.72,80,22,25.55,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna().copy()

clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Namatanai,PG,-3.6667,152.4333,82.71,75,95,11.43,moderate rain
7,7,Cabo San Lucas,MX,22.8909,-109.9124,80.26,53,9,11.16,clear sky
8,8,Iracoubo,GF,5.4802,-53.2011,77.20,80,95,8.66,overcast clouds
12,12,Puerto Ayora,EC,-0.7393,-90.3518,69.55,93,57,10.63,broken clouds
13,13,Rikitea,PF,-23.1203,-134.9692,74.39,75,21,18.01,few clouds
14,14,Avarua,CK,-21.2078,-159.7750,75.25,57,46,5.75,scattered clouds
16,16,Ottawa,CA,45.4112,-75.6981,68.43,57,20,6.91,few clouds
17,17,Surt,LY,31.2089,16.5887,79.32,83,0,6.29,clear sky
18,18,Neiafu,TO,-18.6500,-173.9833,79.48,69,40,10.36,scattered clouds
20,20,Atuona,PF,-9.8000,-139.0333,77.72,80,22,25.55,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Namatanai,PG,82.71,moderate rain,-3.6667,152.4333,
7,Cabo San Lucas,MX,80.26,clear sky,22.8909,-109.9124,
8,Iracoubo,GF,77.20,overcast clouds,5.4802,-53.2011,
12,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,
13,Rikitea,PF,74.39,few clouds,-23.1203,-134.9692,
14,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,
16,Ottawa,CA,68.43,few clouds,45.4112,-75.6981,
17,Surt,LY,79.32,clear sky,31.2089,16.5887,
18,Neiafu,TO,79.48,scattered clouds,-18.6500,-173.9833,
20,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # If indexing error occurs
    except (IndexError):
        print("Hotel not found... skipping.")
        continue

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
# Replacing empty strings in columns with NaN
hotel_df.replace('', np.nan, inplace=True)

# Dropping the rows with those NaN cells and adding to new dataframe
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Namatanai,PG,82.71,moderate rain,-3.6667,152.4333,Seagulls Inn Namatani
7,Cabo San Lucas,MX,80.26,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Iracoubo,GF,77.20,overcast clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
12,Puerto Ayora,EC,69.55,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Rikitea,PF,74.39,few clouds,-23.1203,-134.9692,People ThankYou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# The example picture on the module shows Hotel so I added that as well
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City Name</b></dt><dd>{City}</dd>
<dt><b>Country Code</b></dt><dd>{Country}</dd>
<dt><b>Weather Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))